body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.caret {
  visibility: collapse
}

.DayPickerInput-OverlayWrapper {
  z-index: 5;
}

nav{
  margin-bottom: 2em
}

.m-r-1em {
  margin-right: 1em
}

.DayPickerInput {
  width: 100%
}